{% extends 'base.html' %}
{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
        
    {% endfor %}

    <h1>Login</h1>
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form> 

{% endblock %}