{% extends 'base.html' %}

{% block header_content %}
    <h1 class="mb-3">Blog</h1>
    This is a collection of my learnings.
    <br/><br/>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded container px-4">
            <h2><a href="{{ url_for('blog.post',id=post.id, slug=post.slug) }}">{{post.title}}</a></h2> <br/>
            <b>By: {{post.author}} | {{post.date_posted|formatdatetime}}</b> <br/><br/>
            <small>
                <table>
                    <tr>
                        {% set list = post.categories.split(',') %}
                        {% for item in list %}
                            <td> <a href="{{ url_for('blog.categorie',id=post.id, categorie = item) }}">{{ item }}</a>&nbsp </td>
                        {% endfor %} 
                    </tr> 
                </table>
            </small>
            <hr>
            {% if post.content_html %}
                {{post.content_html[:MAX_NUMBER_OF_CHARS_IN_PREVIEW] | safe}} ... <br/>
            {% else %}
                {{post.content[:MAX_NUMBER_OF_CHARS_IN_PREVIEW] }} ... <br/>
            {% endif %}
            <hr>
        </div>
    {% endfor %}
{% endblock %}