.dark_link:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.dark_link:visited {
  color:#3d8e97;
  background-color: transparent;
  text-decoration: none;
}

.dark_link:hover {
  color: #3d8e97;
  background-color: transparent;
  text-decoration: underline;
}

.light_link:link {
  color: #3D8E97;
  background-color: transparent;
  text-decoration: none;
}
.light_link:visited {
  color: #ADF7B6;
  background-color: transparent;
  text-decoration: none;
}

.light_link :hover {
  color: #FFEE93;
  background-color: transparent;
  text-decoration: underline;
}

.nav-link:link {
  color: #3D8E97;
  background-color: transparent;
  text-decoration: none;
}
.nav-link:visited {
  color: #ADF7B6;
  background-color: transparent;
  text-decoration: none;
}

.nav-link :hover {
  color: #FFEE93;
  background-color: transparent;
  text-decoration: underline;
}
