{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <form method = "POST">
        {{ form.hidden_tag() }}
        {{ form.logout(class="btn btn-secondary") }}<br/><br/>
        <b>{{ form.title.label(class="form-label") }}</b>
        {{ form.title(class="form-control") }}
        <br/>
        <b>{{ form.slug.label(class="form-label") }}</b>
        {{ form.slug(class="form-control") }}
        <br/> 
        <table>
            <tr>  
                {% for field  in form.categories %}
                    <th>
                        {{ field.label }}  
                    </th>
                {% endfor %}
            </tr> 
            <tr>  
                {% for field  in form.categories %}
                    <td>
                        {{ field }}  
                    </td>
                {% endfor %}
            </tr> 
        </table>
        <br/>
        <b>{{ form.author.label(class="form-label") }}</b>
        {{ form.author(class="form-control",rows="5") }}
        <br/>
        <table>
            <tr>  
                {% for field  in form.imageIDs %}
                    <th>
                        {{ field.label }}  
                    </th>
                {% endfor %}
            </tr> 
            <tr>  
                {% for field  in form.imageIDs %}
                    <td>
                        {{ field }}  
                    </td>
                {% endfor %}
            </tr> 
        </table>
        <br/>
        <b>{{ form.content.label(class="form-label") }}</b>
        {{ form.content(class="form-control",rows="100") }}
        <br/>
        {{ form.submit(class="btn btn-secondary") }}&nbsp{{ form.logout(class="btn btn-secondary") }}
        <br/>
    </form>
{% endblock %}