{% extends 'base.html' %}

{% block header_content %}
    <h1 class="mb-3">{{post.title}}</h1>
    <b>By: {{post.author}} | {{post.date_posted|formatdatetime}}</b> <br/>
    - 
    {% for categorie in categories %}
        {{ categorie }}  - 
    {% endfor %}
    <br/><br/>
{% endblock %}

{% block content %}
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded container px-4">
        {% if post.content_html %}
            {{post.content_html | safe}} <br/>
        {% else %}
            {{post.content}} <br/>
        {% endif %}
        <hr>
    </div>
{% endblock %}