{% extends 'base.html' %}

{% block header_content %}
    <h1 class="mb-3">Login</h1>
    <br/><br/>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
        
    {% endfor %}
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form> 

{% endblock %}