{% extends 'base.html' %}

{% block header_content %}
    <h1 class="mb-3">User Sites</h1>
    <br/><br/>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
        
    {% endfor %}
    
    <form method="POST" action="">
        <button type="button" class="btn btn-light"><a href = "{{ url_for('post.add') }}">Add Post</a></button>
        <br/><br/>
        <button type="button" class="btn btn-light"><a href = "{{ url_for('blog.posts_edit') }}">Edit Post</a></button>
    </form> 

{% endblock %}