{% set MAX_NUMBER_OF_CHARS_IN_PREVIEW = 150 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>matshCode</title>
    <!--bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!--file CSS-->
    <link href="{{ url_for('static',filename = 'css/style.css') }}" rel="stylesheet">
    
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <!-- Background image -->
      <div
        class="p-5 text-center bg-image"
        style="
          background-image: url('https://img.freepik.com/premium-photo/computer-software-coding-with-abstract-binary-data_163855-142.jpg?w=1060');
          height: 300px;
          margin-top: 10px;
        "
      >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              {% block header_content %}
              {% endblock %}
              <h5 class="mb-3">matshCode</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Navbar -->
      {% include 'navbar.html' %}
    </header>
    </br>
    {% block content %}
    {% endblock %}
    </br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>